@import "variables";
@import "mixin";

body {
  background-color: black;
}

.heading {
  color: $contrast-color;
  @include common;
}

p {
  color: $primary-color;
  font-size: $font-size-normal;
  @include common;
  a {
    color: $contrast-color;
  }
}

a {
  color: $secondary-color;
  padding: $padding;
  text-decoration: none;
}
