$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(238, 10, 116);
$contrast-color: tomato;
$border-radius: 20px;
$frame-background: rgba(255, 255, 255, 0.25);
$frame-border: 4px solid rgba(255, 255, 255, 0.4);
$white-60: rgba(255, 255, 255, 0.6);
$padding: clamp(1rem, 3vmin, 2rem);
$font-size-normal: clamp(1.2rem, 2vmin, 2rem);
