body {
  background-color: black; }

h1 {
  color: tomato;
  border: 4px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.25);
  padding: clamp(1rem, 3vmin, 2rem); }

p {
  color: black;
  border: 4px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  padding: clamp(1rem, 3vmin, 2rem);
  font-size: clamp(1.2rem, 2vmin, 2rem); }

a {
  color: grey;
  padding: clamp(1rem, 3vmin, 2rem);
  text-decoration: none; }
