body {
  background-color: black; }

.heading {
  color: tomato;
  border: 4px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.25);
  padding: clamp(1rem, 3vmin, 2rem); }

p {
  color: white;
  font-size: clamp(1.2rem, 2vmin, 2rem);
  border: 4px solid rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.25);
  padding: clamp(1rem, 3vmin, 2rem); }
  p a {
    color: tomato; }

a {
  color: #ee0a74;
  padding: clamp(1rem, 3vmin, 2rem);
  text-decoration: none; }
